body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;

  background-image: url('layeredPeaksBlue-Purple.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1{
  color: purple;
  text-align: center;
}

h2, h3 {
  text-align: center;
  color: #007BFF;
}

h6{
  text-align: center;
  color: rgb(49, 2, 49);
}

p {
  text-align: justify;
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
  border-radius: 6%;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.text-container {
  position: relative;
  margin: 20px;
}

.transparent-rectangle {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 1, 1, 0.5);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  border-radius: 4%;
  z-index: -1;
}
p {
  padding: 20px; 
}

